<!-- <script src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/Style%20Library/js/angular/Dashboard/MyDashboardTask-Test.js"></script> -->
<script src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/Style%20Library/js/angular/Online/Dashboard/MyDashboardTask.js"></script>
<script src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/Style%20Library/js/angular/Templates/HCTemplateControllers.js"></script>
<style>
    h2.ms-webpart-titleText span {
        display: none
    }

    #pageTitle a {
        display: none !important;
    }

    #contentRow {
        padding-top: 0px !important;
        margin-top: -15px;
    }
</style>
<div ng-controller="MyDashboardController" ng-cloak>
    <div>
        <h1 class="blue-clr">MyDashboard </h1>
    </div>
    <div class="row Teamleaderdashboardpage mb-10">
        <div class="col-sm-2 PadR0">
            <ul class="nav nav-tabs LeaderDashboard">
                <li class="{{item.NewTitle==TabTitle? 'active':''}}" ng-repeat="item in filtered1 = (Tasks)">
                    <a data-toggle="tab" href="#{{item.NewTitle}}" ng-click="getUserItem(item)">
                        {{item.Title}}
                        <span class="no-padding" ng-show="item.Childs.length>0">({{item.Childs.length}})</span>
                    </a>
                </li>
                <!-- <li><a data-toggle="tab" href="#Emailnotification">Email Notification
                    <span class="no-padding">(6)</span>
                </a>
                </li>
                <li><a data-toggle="tab" href="#Workingtoday">Working Today
                    <span class="no-padding">(7)</span>
                </a>
                </li>
                <li><a data-toggle="tab" href="#todaydue">Today Due Task
                    <span class="no-padding">(1)</span>
                </a>
                </li>
                <li ><a data-toggle="tab" href="#Overdue">Overdue
                    <span class="no-padding">(145)</span>
                </a>
                </li>

                <li> <a data-toggle="tab" href="#Teammember">Team Member
                    <span class="no-padding">(34)</span>
                </a>
                </li>
                <li> <a href="#WeekTask" data-toggle="tab">This Week Task Time
                    <span class="no-padding">(2)</span>
                </a></li> -->
            </ul>
        </div>
        <div class="col-sm-10 padL-0">
            <div class="col-sm-12 tab-content bdrbox TableSpace">
                <div id="{{item.NewTitle}}" class="tab-pane fade in {{item.NewTitle==TabTitle? 'active':''}}" ng-repeat="item in filtered1 = (Tasks)">
                    <div class="table-responsive" id="testDiv1">
                        <div class="dash-wrapper">
                            <div class="panel panel-primary-head blocks mb-10">
                                <div class="dashboard-head dash-head-color">
                                    <span class="pull-left">
                                        <span ng-if="!item.expanded" class="hreflink" ng-click="item.expanded=true">
                                            <img style="width:10px;" ng-src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/32/right-list-iconwhite.png">
                                        </span>
                                        <span ng-if="item.expanded" class="hreflink" ng-click="item.expanded=false">
                                            <img style="width:10px;" ng-src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/32/list-iconwhite.png">
                                        </span>
                                    </span>
                                    <div class="ml15 border_td mb-0 font15 padLR panel-title">
                                        {{item.Title}}
                                    </div>
                                </div>
                                <div ng-show="item.expanded" class="table-responsive" id="testDiv1">
                                    <div class="dash-wrapper fortablee">
                                        <ul id="tasks" class="tables_ui table table-info table-striped mb30 section-event pt-0 table table-hover">
                                            <li class="for-lis ">
                                                <div style="width:13%;">
                                                    <div style="width:80%; " class="padLR">
                                                        <input type="search" id="searchTaskID " placeholder="Task ID " class="searchbox_height width-90 ng-valid ng-dirty ng-touched ng-empty " ng-model="searchbox.searchTaskID" />
                                                        <span ng-show="searchbox.searchTaskID.length>0" class="searchclear " ng-click="clearControl( 'searchTaskID') ">X</span>
                                                        <span class="{{orderBy=='Shareweb_x0020_ID' &&!reverse? 'glyphicon_active': 'glyphicon'}} glyphicon-chevron-up direction-arrow arrow_up " ng-click="sortBy( 'Shareweb_x0020_ID', false) "></span>
                                                        <span class="{{orderBy=='Shareweb_x0020_ID' &&reverse? 'glyphicon_active': 'glyphicon'}} glyphicon-chevron-down direction-arrow arrow_down " ng-click="sortBy( 'Shareweb_x0020_ID', true) "></span>
                                                    </div>
                                                </div>
                                                <div style="width:24%; " class="padLR ">
                                                    <div style="width:90%; ">
                                                        <input type="search" id="searchTaskName " placeholder="Task Title " class="searchbox_height width-90 ng-valid ng-dirty ng-touched ng-empty " ng-model="searchbox.searchTaskName " />
                                                        <span ng-show="searchbox.searchTaskName.length>0" class="searchclear " ng-click="clearControl( 'searchTaskName') ">X</span>
                                                        <span class="{{orderBy=='Title' &&!reverse? 'glyphicon_active': 'glyphicon'}} glyphicon-chevron-up direction-arrow arrow_up " ng-click="sortBy( 'Title', false) "></span>
                                                        <span class="{{orderBy=='Title' &&reverse? 'glyphicon_active': 'glyphicon'}} glyphicon-chevron-down direction-arrow arrow_down " ng-click="sortBy( 'Title', true) "></span>
                                                    </div>
                                                </div>
                                                <div style="width:13%;">
                                                    <div style="width:80%;">
                                                        <input id="searchComponent" type="search" placeholder="Component" class="width-90 searchbox_height" ng-model="searchbox.searchComponent" />
                                                        <span ng-show="searchbox.searchComponent.length>0" class="searchclear" ng-click="clearControl('searchComponent')">X</span>
                                                        <span class="{{orderBy=='componentString'&&!reverse?'glyphicon_active':'glyphicon'}}  glyphicon-chevron-up direction-arrow arrow_up" ng-click="sortBy('componentString', false)"></span>
                                                        <span class="{{orderBy=='componentString'&&reverse?'glyphicon_active':'glyphicon'}}  glyphicon-chevron-down direction-arrow arrow_down" ng-click="sortBy('componentString', true)"></span>
                                                    </div>
                                                </div>
                                                <div style="width:13%; " class="padLR ">
                                                    <div style="width:80%; " class=" ">
                                                        <input type="search" id="searchCategories " placeholder="Categories " class="searchbox_height width-90 ng-valid ng-dirty ng-touched ng-empty " ng-model="searchbox.searchCategories " />
                                                        <span ng-show="searchbox.searchCategories.length>0" class="searchclear " ng-click="clearControl( 'searchCategories') ">X</span>
                                                        <span class="{{orderBy=='CategoryItem' &&!reverse? 'glyphicon_active': 'glyphicon'}} glyphicon-chevron-up direction-arrow arrow_up " ng-click="sortBy( 'CategoryItem', false) "></span>
                                                        <span class="{{orderBy=='CategoryItem' &&reverse? 'glyphicon_active': 'glyphicon'}} glyphicon-chevron-down direction-arrow arrow_down " ng-click="sortBy( 'CategoryItem', true) "></span>
                                                    </div>
                                                </div>
                                                <div style="width:6%; " class="padLR ">
                                                    <div style="width:75%; " class=" ">
                                                        <input type="search " id="searchPercentComplete " placeholder="% " class="searchbox_height width-90 ng-valid ng-dirty ng-touched ng-empty " ng-model="searchbox.searchPercentComplete " />
                                                        <span ng-show="searchbox.searchPercentComplete.length>0" class="searchclear " ng-click="clearControl( 'searchPercentComplete') ">X</span>
                                                        <span class="{{orderBy=='PercentComplete' &&!reverse? 'glyphicon_active': 'glyphicon'}} glyphicon-chevron-up direction-arrow arrow_up " ng-click="sortBy( 'PercentComplete', false) "></span>
                                                        <span class="{{orderBy=='PercentComplete' &&reverse? 'glyphicon_active': 'glyphicon'}} glyphicon-chevron-down direction-arrow arrow_down " ng-click="sortBy( 'PercentComplete', true) "></span>
                                                    </div>
                                                </div>

                                                <div ng-if="item.TimeSpent==false" style="width:6%; " class="padLR ">
                                                    <div style="width:75%; " class=" ">
                                                        <input type="search " id="searchPriority " placeholder="Prio" class="searchbox_height width-90 ng-valid ng-dirty ng-touched ng-empty " ng-model="searchbox.searchPriority " />
                                                        <span ng-show="searchbox.searchPriority.length>0" class="searchclear " ng-click="clearControl( 'searchPriority') ">X</span>
                                                        <span class="{{orderBy=='Priority_x0020_Rank' &&!reverse? 'glyphicon_active': 'glyphicon'}} glyphicon-chevron-up direction-arrow arrow_up " ng-click="sortBy( 'Priority_x0020_Rank', false) "></span>
                                                        <span class="{{orderBy=='Priority_x0020_Rank' &&reverse? 'glyphicon_active': 'glyphicon'}} glyphicon-chevron-down direction-arrow arrow_down " ng-click="sortBy( 'Priority_x0020_Rank', true) "></span>
                                                    </div>
                                                </div>


                                                <div ng-show="item.TimeSpent== true" style="width:6%; " class="padLR ">
                                                    <div style="width:75%; " class=" ">
                                                        <input type="search " id="searchEffort " placeholder="Time" class="searchbox_height width-90 ng-valid ng-dirty ng-touched ng-empty " ng-model="searchbox.searchEffort " />
                                                        <span ng-show="searchbox.searchEffort.length>0" class="searchclear " ng-click="clearControl( 'searchEffort') ">X</span>
                                                        <span class="{{orderBy=='Effort' &&!reverse? 'glyphicon_active': 'glyphicon'}} glyphicon-chevron-up direction-arrow arrow_up " ng-click="sortBy( 'Effort', false) "></span>
                                                        <span class="{{orderBy=='Effort' &&reverse? 'glyphicon_active': 'glyphicon'}} glyphicon-chevron-down direction-arrow arrow_down " ng-click="sortBy( 'Effort', true) "></span>
                                                    </div>
                                                </div>

                                                <div style="width:9%; " class="padLR ">
                                                    <div style="width:75%; " class=" ">
                                                        <input type="search " id="searchDueDate " placeholder="Due Date " class="searchbox_height width-90 ng-valid ng-dirty ng-touched ng-empty " ng-model="searchbox.searchDueDate" />
                                                        <span ng-show="searchbox.searchDueDate.length>0" class="searchclear " ng-click="clearControl( 'searchDueDate') ">X</span>
                                                        <span class="{{orderBy=='DueDate' &&!reverse? 'glyphicon_active': 'glyphicon'}} glyphicon-chevron-up direction-arrow arrow_up " ng-click="sortBy( 'DueDate', false) "></span>
                                                        <span class="{{orderBy=='DueDate' &&reverse? 'glyphicon_active': 'glyphicon'}} glyphicon-chevron-down direction-arrow arrow_down " ng-click="sortBy( 'DueDate', true) "></span>
                                                    </div>
                                                </div>
                                                <div style="width:12%;" class="padLR ">
                                                    <div style="width:80%;">
                                                        <input id="searchCreated" type="text" placeholder="Created" class="searchbox_height width-90" ng-model="searchbox.searchCreated" />
                                                        <span ng-show="searchbox.searchCreated.length>0" class="searchclear" ng-click="clearControl('searchCreated')">X</span>
                                                        <span class="{{orderBy=='Created'&&!reverse?'glyphicon_active':'glyphicon'}}  glyphicon-chevron-up direction-arrow arrow_up" ng-click="sortBy('Created', false)"></span>
                                                        <span class="{{orderBy=='Created'&&reverse?'glyphicon_active':'glyphicon'}}  glyphicon-chevron-down direction-arrow arrow_down" ng-click="sortBy('Created', true)"></span>
                                                    </div>
                                                </div>
                                                <div style="width:2%;">
                                                    <div style="width:80%;">
                                                    </div>
                                                </div>
                                                <div style="width:2%;">
                                                    <div style="width:80%;">
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="{{Task.Portfoliotype=='Service'?'taskprofilepagegreen':''||Task.Portfoliotype=='Events'?'taskprofilepageorange':''}} for-lis tdrows" ng-repeat="Task in filteredItems  = (item.Childs  | filter:searchbox.globalSearch | filter:filterEditor | filter:filterAuthor | orderBy:orderBy:reverse
                                          | filter:{siteType:searchbox.searchsiteType,Shareweb_x0020_ID:searchbox.searchTaskID,componentString:searchbox.searchComponent,CategoryItem:searchbox.searchCategories,Modifiednew:searchbox.searchModified,TaskDueDatenew:searchbox.searchDueDate,PercentComplete:searchbox.searchPercentComplete,Priority_x0020_Rank:searchbox.searchPriority,Effort:searchbox.searchEffort} | filter:searchbox.searchTaskName |filter:searchfilterauthore)">
                                                <div style="width:13%;">
                                                    <span ng-if="Task.siteType =='Offshore Tasks'">
                                                        <img class="todaytask_img"
                                                             ng-src="{{siteurl}}/SiteCollectionImages/ICONS/Shareweb/offshore_Tasks.png">
                                                    </span>
                                                    <span ng-if="Task.siteType=='Gruene'">
                                                        <img class="todaytask_img"
                                                             ng-src="{{siteurl}}/SiteCollectionImages/ICONS/Foundation/logo-gruene.png">
                                                    </span>
                                                    <span ng-if="Task.siteType=='EI'">
                                                        <img class="todaytask_img"
                                                             ng-src="{{siteurl}}/SiteCollectionImages/ICONS/Shareweb/site_ei.png">
                                                    </span>
                                                    <span ng-if="Task.siteType=='DRR'">
                                                        <img class="todaytask_img"
                                                             ng-src="{{siteurl}}/SiteCollectionImages/ICONS/Shareweb/site_drr.png">
                                                    </span>
                                                    <span ng-if="Task.siteType=='EPS'">
                                                        <img class="todaytask_img"
                                                             ng-src="{{siteurl}}/SiteCollectionImages/ICONS/Shareweb/site_eps.png">
                                                    </span>
                                                    <span ng-if="Task.siteType=='Education'">
                                                        <img class="todaytask_img"
                                                             ng-src="{{siteurl}}/SiteCollectionImages/ICONS/Shareweb/site_education.png">
                                                    </span>
                                                    <span ng-if="Task.siteType=='Gender'">
                                                        <img class="todaytask_img"
                                                             ng-src="{{siteurl}}/SiteCollectionImages/ICONS/Shareweb/site_gender.png">
                                                    </span>
                                                    <span ng-if="Task.siteType=='Health'">
                                                        <img class="todaytask_img"
                                                             ng-src="{{siteurl}}/SiteCollectionImages/ICONS/Shareweb/site_health.png">
                                                    </span>
                                                    <span ng-if="Task.siteType=='QA'">
                                                        <img class="todaytask_img"
                                                             ng-src="{{siteurl}}/SiteCollectionImages/ICONS/Shareweb/site_qa.png">
                                                    </span>
                                                    <span ng-if="Task.siteType=='Shareweb'">
                                                        <img class="todaytask_img"
                                                             ng-src="{{siteurl}}/SiteCollectionImages/ICONS/Shareweb/site_shareweb.png">
                                                    </span>
                                                    <span ng-if="Task.siteType=='HHHH'">
                                                        <img class="todaytask_img"
                                                             ng-src="{{siteurl}}/SiteCollectionImages/ICONS/Foundation/icon_hhhh.png">
                                                    </span>
                                                    <span ng-if="Task.siteType=='Foundation'" class="todaytask_img">
                                                        <img ng-src="{{siteurl}}">
                                                    </span>
                                                    <span ng-if="Task.siteType=='DE'">
                                                        <img class="todaytask_img"
                                                             ng-src="{{siteurl}}/SiteCollectionImages/ICONS/Shareweb/site_de.png">
                                                    </span>
                                                    <span ng-if="Task.siteType=='Small Projects'">
                                                        <img class="todaytask_img"
                                                             ng-src="{{siteurl}}/SiteCollectionImages/ICONS/Shareweb/small_project.png">
                                                    </span> {{Task.Shareweb_x0020_ID}}
                                                </div>
                                                <!-- <div style="width:13%; ">
                                                    {{Task.Shareweb_x0020_ID}}
                                                </div> -->
                                                <div style="width:24%; " class="padLR ">
                                                    <a class="hreflink" target="_blank" ng-href="{{baseUrl}}/SitePages/Task-Profile.aspx?taskId={{Task.Id}}&Site={{Task.siteType}}">{{Task.Title}}</a>
                                                    <!-- {{Task.Title}} -->
                                                </div>
                                                <div class="padLR" style="width:13%;">
                                                    <!-- {{Task.componentString}} -->
                                                    <span ng-repeat="srv in Task.Services.results">
                                                        <a target="_blank"
                                                           ng-href="{{baseUrl}}/sp/SitePages/Portfolio-Profile.aspx?taskId={{srv.Id}}">
                                                            {{srv.Title}}
                                                        </a>
                                                    </span>
                                                    <span ng-repeat="comp in Task.Component.results">
                                                        <a target="_blank"
                                                           ng-href="{{baseUrl}}/SitePages/Portfolio-Profile.aspx?taskId={{comp.Id}}">
                                                            {{comp.Title}}
                                                        </a>
                                                    </span>
                                                </div>
                                                <div style="width:14%; " class="padLR ">
                                                    {{Task.CategoryItem}}
                                                </div>
                                                <div style="width:6%; " class=" padLR ">
                                                    {{Task.PercentComplete}}
                                                </div>

                                                <div ng-show="item.TimeSpent== false" style="width:6%; " class=" padLR ">
                                                    {{Task.Priority_x0020_Rank}}
                                                </div>
                                                <div ng-show="item.TimeSpent== true" style="width:6%; " class=" padLR ">
                                                    {{Task.Effort}}
                                                </div>


                                                <div style="width:9%; " class="padLR padL-0">
                                                    {{Task.TaskDueDatenew}}
                                                </div>
                                                <div style="width:12%;" class="padLR ">
                                                    {{Task.CreatedNew}}
                                                    <span class="hreflink ng-scope">
                                                        <img ng-show="Task.Author.Id==35" title="{{Task.Author.Title}}" class="img-round" src="https://hhhhteams.sharepoint.com/sites/HHHHTeams/SiteCollectionImages/ICONS/32/icon_user.jpg" />
                                                    </span>
                                                    <span ng-repeat="create in Task.AllCreatedimages" class="hreflink ng-scope">
                                                        <a target="_blank" ng-href="{{baseUrl}}/SitePages/TeamLeader-Dashboard.aspx?UserId={{create.UserId}}&Name={{create.Title}}">
                                                            <img ng-show="Task.AllCreatedimages.length>0" title="{{create.Title}}" class="img-round" src="{{create.useimageurl}}" />
                                                        </a>
                                                    </span>
                                                </div>
                                                <div style="width:2%;" class="padLR">
                                                    <a class="hreflink " title="Edit" data-toggle="modal" ng-click="EditTask(Task)"><img class="img-focus" ng-src="/_layouts/images/edititem.gif"> </a>
                                                </div>
                                                <div class="padLR" style="width:2%;">
                                                    <a href="javascript:void(0)" ng-click="deleteitem(Task)">
                                                        <img src="/_layouts/images/delete.gif">
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
